@charset "UTF-8"; 

* {
    margin: 0;
    padding: 0;
}

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

body {
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font2);
}

header > h1 {
    padding: 50px 0px 0px 0px;
    font-variant: small-caps;
    font-size: 10vh;
}

header > p {
    padding: 0px 0px 50px 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 30px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3.5vw;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(49, 49, 49);
    color: white;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.445);
    padding: 0px 0px 0px 10px;
    display: inline-block;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}